/* Reset CSS  */

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 Kode Mono, sans-serif;
}

body,
input,
textarea,
button {
    font: inherit;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

/* General rules */

body {
    background-color: #C1BDBA;
    padding: 0.5em;
    color: white;
}

.content {
    margin: 0 auto;
    padding: 0.5em;
    background-color: #435359;
    border-radius: 0.5em;
    position: relative;
    height: 98.5vh;
}

/* Header - Logo & Navigation */

.content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    padding: 0.5em 1em;
}

.content header nav {
    padding: 2px;
}

.content header nav ul {
    display: flex;
    gap: 0.3em;
    list-style: none;
}

.content header nav ul a {
    border: 1px solid transparent;
    border-radius: 0.2em;
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
}

.content header nav ul a:hover {
    color: #1AB188;
    border-color: #1AB188;
}

.content header nav ul a.nav-active {
    background-color: #1AB188;
    border-color: #1AB188;
}

.content header nav ul a.nav-active:hover {
    color: #435359;
}

div.logo {
    max-width: 50px;
    max-height: 50px;
}

div.logo img {
    height: 100%;
    width: 100%;
}

div.logo:hover {
    border: 2px transparent;
    border-radius: 0.2em;
    opacity: 50%;
}

/* Footer  */

footer {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .icons {
    font-family: FontAwesome;
    display: flex;
    gap: 1em;
}

footer .icons a {
    text-decoration: none;
    color:#24333C;
    font-size: 1.8em;
}

footer .icons a:hover {
    color: #1AB188;
}

footer p {
    font-size: 0.8em;
}