.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0;
    height: 700px;
}

.profile > h4 {
    padding: 0.5em;
}

.resources {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10em;
    margin-top: 0em;
    width: 90%;
    text-align: center;
    
}

.resources .my-res, .resources .fav {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.resources .my-res .table-wrapper, .resources .fav .table-wrapper {
    /* min-height: 600px; */
    width: 100%;
}

.resources .list {
    margin-top: 1em;
    text-align: center;
    width: 100%;
}

.resources table, th, td {
    border: 1px solid #1AB188;
    border-collapse: collapse;
}

.resources td.img {
    width: 50px;
    padding: 0.2em;
}

.resources td img {
    width: 100%;
}

.details-button a {
    color: #1AB188;
}