.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    height: 700px;
}

.catalog h1 {
    padding: 0.5em;
}

.catalog .list {
    padding: 1em;
    width: 75%;
    text-align: center;
}

.catalog .table-wrapper {
    margin: 0 auto;
    min-height: 620px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.catalog table, th, td {
    border: 1px solid #1AB188;
    border-collapse: collapse;
}

td.img {
    width: 50px;
    padding: 0.2em;
}

.catalog td img {
    width: 100%;
}

.details-button a {
    color: #1AB188;
}