.details {
    width: 80%;
    max-height: 700px;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.split-view {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10em;
}

.img {
    max-width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
}

.img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.desc {
    width: 500px;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-height: 500px;
}

.desc > div.res-button {
    margin: 2em 0;
}

.desc > div.res-button a {
    border: 1px solid #1AB188;
    background-color: #1AB188;
    border-radius: 0.3em;
    text-decoration: none;
    color: white;
    padding: 1em 2em;
    font-size: 1.3em;
    text-align: center;
    width: 50%;
}

.interactions > div.res-button {
    border: 1px solid #1AB188;
    background-color: #1AB188;
    border-radius: 0.3em;
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    font-size: 1em;
    text-align: center;
    width: 35%;
    margin: 0.5em 0;
}

.interactions > div.edit {
    background-color: rgb(202, 202, 55);
    border-color: rgb(202, 202, 55);
}

.interactions > div.del {
    background-color: rgb(218, 84, 84);
    border-color: rgb(218, 84, 84);
}

.res-button:hover {
    cursor: pointer;
    opacity: 65%;
}

