.register {
    margin: 3em auto;
    padding: 2em;
    max-width: 500px;
    background-color: #24333C;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    gap: 0.5em;
    width: 60%;
}
.register form input {
    background-color: inherit;
    color: #92928C;
    border: 1px solid #92928C;
    width: 100%;
    text-align: center;
}

.register form input.button {
    background-color: #1AB188;
    color: white;
    text-align: center;
    padding: 0.8rem;
    margin-top: 2em;
}

.register form input.button:hover {
    cursor: pointer;
    background-color: #179A77;
}

.error {
    font-size: 0.6em;
    padding: 0.5em;
    color:#1AB188;
    text-align: center;
}

.register form input.button.disabled:hover {
    cursor: not-allowed;
}