.add {
    margin: 1em auto;
    padding: 2em;
    max-width: 500px;
    background-color: #24333C;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.add form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    gap: 0.5em;
    width: 70%;
}
.add form input, .add form select, .add form textarea {
    background-color: inherit;
    color: #92928C;
    border: 1px solid #92928C;
    width: 100%;
    text-align: center;
    font: inherit;
}

.add form textarea {
    max-height: 100px;
    min-height: 100px;
    max-width: 100%;
    min-width: 100%;
}

.add form input.button {
    background-color: #1AB188;
    color: white;
    text-align: center;
    padding: 0.8rem;
    margin-top: 1em;
}

.add form input.button:hover {
    cursor: pointer;
    background-color: #179A77;
}

.error {
    font-size: 0.7em;
    padding: 0;
    color:#1AB188;
    text-align: center;
}